{% extends "layout.html" %}
{% block content %}

  <div class="container-fluid container-fill-height">
    <div class="container-content-middle">
      <form role="form" class="mx-auto text-center app-login-form">

        <a href="../index.html" class="app-brand mb-5">
          <img src="{{ url_for('static', filename='res/image_1.jpg') }}" alt="brand">
        </a>

        <div class="form-group">
          <input class="form-control" placeholder="Username" id="id_username">
        </div>

        <div class="form-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="id_password">
        </div>

        <div class="mb-5">
          <button class="btn btn-secondary" id="loginBtn">
            <a href="{{ url_for('login') }}">Log In</a>
          </button>
          <button class="btn btn-secondary">
            <a href="{{ url_for('register') }}">Sign up</a>
          </button>
        </div>
        <footer class="screen-login">
          <a href="#" class="text-muted">Forgot password</a>
        </footer>
      </form>
    </div>
  </div>

<!-- <script>
  function login(un, pass){
      $.ajax({
        type: "POST",
        url: "/login",
        data: JSON.stringify({"username": un, "password": pass}),
        success: function (data, text, XmlHttpRequest) {
            alert($.parseJSON(XmlHttpRequest.responseText).text);
        },
        error: function(data, text, XmlHttpRequest){
            alert("Failure");
        },
        contentType: "application/json",
        dataType: 'json'
    });
  }
</script>
<script>
    window.onload = function () {
        document.getElementById("loginBtn").onclick = function () {
            login($("#id_username").val(), $("#id_password").val())
        }
    }
</script> -->

{% endblock content %}